@{
    Layout = null;
}

@using Sunum.Models

@model List<Book>

<!DOCTYPE html>

<html>

<head>
    <title>
        Bookie
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />

    <link rel="stylesheet" href="~/Content/TopMenu.css" />
    <link rel="stylesheet" href="~/Content/UserOP.css" />
    <link rel="stylesheet" href="~/Content/MySold.css" />

</head>

<body>
    <div class="wrapper">
        <div class="MtopMenu">

            <div class="MainTitle">
                <a class="title" href="/">BOOKIE</a>
            </div>

            <div class="MmedMenu">
                <div class="searchBox ">

                    <div class="searchArea">
                        <form id="searchForm" method="get" action="/Search" style="height: 36px">
                            <input id="searchData" name="q" type="text" class="searchData" placeholder="search books">
                        </form>
                    </div>

                    <div class="searchBtn" onclick="searchButton()" style="cursor:pointer">
                        <i class="fas fa-search searchIcon"></i>
                    </div>

                </div>

                <div class="customMenu">

                    <div class="MyAccountMenu">

                        <a class="account element" href="/Profile">
                            <i class="fas fa-user"></i>
                            <i class="fas fa-caret-down" style="color:#ffad0b "></i>
                        </a>

                        <div class="dropdown-content">
                            <a href="/Profile">Profile</a>
                            <a href="/MySales">My sales</a>
                            <a href="/MyOrders">My orders</a>
                            <a href="/MySolds">My solds</a>
                            <a href="#">Sign out</a>
                        </div>

                    </div>

                    <div class="MyCart">

                        <a class="cart element" href="/Cart">
                            <i class="fas fa-shopping-cart"></i>
                            <span style=" font-size: 10px; letter-spacing: 2px">Cart</span>
                        </a>

                    </div>

                    <div class="MyAccountMenu">
                        <a class="signUp element" href="/SignUp">
                            <i class="fas fa-user-plus"></i>
                            <span style=" font-size: 10px; letter-spacing: 2px">Sign Up</span>
                        </a>

                    </div>

                    <div class="MyAccountMenu">

                        <a class="signIn element" href="/SignIn">
                            <i class="fas fa-sign-in-alt"></i>
                            <span style=" font-size: 10px; letter-spacing: 2px">Sign In</span>
                        </a>

                    </div>

                </div>

            </div>
        </div>

        <div id="contentMain">
            <section class="container erase-bg-br">
                <div class="cart-content">
                    <div class="cart-title">My Sold Products</div>
                    <div class="cart-container">
                        <table class="cart-table">
                            <thead class="cart-table-titles">
                                <tr>
                                    <th class="cart-table-title">Product</th>
                                    <th class="cart-table-title">Buyer</th>
                                    <th class="cart-table-title">Price</th>
                                    <th class="cart-table-title">Status</th>
                                </tr>

                            </thead>
                            <tbody>
                                <tr class="cart-table-row">
                                    <td class="prodDetail">
                                        <div class="prodDetail-div">
                                            <img class="prodDetail-img" src="/images/olasiliksiz-adam-fawer.jpg">
                                            <div class="prodDetail-info">
                                                <span class="prodDetail-name">Olasılıksız</span>
                                                <span class="prodDetail-author">Adam Fawer</span>
                                                <div class="prodDetail-tags">
                                                    <span class="prodDetail-tag">Sci-fi</span>
                                                    <span class="prodDetail-tag">Drama</span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="buyerInfo">
                                        <span class="BuyerName">Buyer name</span>
                                        <br>
                                        <span class="BuyerID">Buyer id</span>
                                    </td>
                                    <td class="prodPrice">18.99 TL</td>
                                    <td class="prodStatus">
                                        <div class="status ordered">
                                            Ordered
                                        </div>
                                    </td>
                                </tr>
                                <tr class="cart-table-row">
                                    <td class="prodDetail">
                                        <div class="prodDetail-div">
                                            <img class="prodDetail-img" src="/images/olasiliksiz-adam-fawer.jpg">
                                            <div class="prodDetail-info">
                                                <span class="prodDetail-name">Olasılıksız</span>
                                                <span class="prodDetail-author">Adam Fawer</span>
                                                <div class="prodDetail-tags">
                                                    <span class="prodDetail-tag">Sci-fi</span>
                                                    <span class="prodDetail-tag">Drama</span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="buyerInfo">
                                        <span class="BuyerName">Buyer name</span>
                                        <br>
                                        <span class="BuyerID">Buyer id</span>
                                    </td>
                                    <td class="prodPrice">18.99 TL</td>
                                    <td class="prodStatus">
                                        <div class="status delivered">
                                            Delivered
                                        </div>
                                    </td>
                                </tr>
                                <tr class="cart-table-row">
                                    <td class="prodDetail">
                                        <div class="prodDetail-div">
                                            <img class="prodDetail-img" src="/images/olasiliksiz-adam-fawer.jpg">
                                            <div class="prodDetail-info">
                                                <span class="prodDetail-name">Olasılıksız</span>
                                                <span class="prodDetail-author">Adam Fawer</span>
                                                <div class="prodDetail-tags">
                                                    <span class="prodDetail-tag">Sci-fi</span>
                                                    <span class="prodDetail-tag">Drama</span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="buyerInfo">
                                        <span class="BuyerName">Buyer name</span>
                                        <br>
                                        <span class="BuyerID">Buyer id</span>
                                    </td>
                                    <td class="prodPrice">18.99 TL</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

            </section>
            
        </div>
    </div>

</body>
</html>


